body
{
    width:720px;
    margin:auto;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    color:#333;
    padding-bottom:2em;
}

th
{
    font-size: 12px;
    text-align:left;
}

td
{
    font-size: 12px;
    text-align: left;
}

ul
{
    margin:0;
    padding:0;
    display:inline;
}

ul li
{
    list-style:none;
    display:inline;
}

dl ul li:after, #footer li:after, td.tasktags li:after
{
    content: ", ";
}

ul li:last-child:after, #footer li:last-child:after,
td.tasktags:last-child:after
{
    content: "";
}

a
{
    text-decoration:none;
    color:#333;
}

a:hover
{
    color:green;
}

#header
{
    background-color:white;
    z-index:99;
    width:720px;
    position:fixed;
    top:0;
    border-bottom:5px solid #ccc;
    height:30px;
}

#header h1
{
    margin:0;
}

h2
{
    border-bottom:1px solid #ccc;
    padding-bottom:3px;
}

h2 span.contents
{
    float:right;
    font-weight:normal;
    font-size:12px;
    margin-top:5px;
}

h1 span.viewtype
{
    float:right;
    font-weight:normal;
    font-size:12px;
    margin-top:10px;
}

dt, dd
{
    display:inline;
    margin:0;
    padding:0;
}

dd
{
    font-weight:bold;
    margin-right:1em;
}

dt:after
{
    content: ":";
}

dl, form#update-task
{
    margin-top:10px;
}

table
{
    width:100%;
    border-collapse: collapse;
    border-bottom:3px solid #ccc;
    background-color:#f2f2f2;
}

thead tr
{
    background-color:#ccc;
}

tbody tr:hover
{
    background-color:white;
}

table tr td, table tr th
{
    padding-top:0.5em;
    padding-bottom:0.5em;
    border:1px solid white;
}

#todo a, #my_activities a
{
    font-weight:normal;
}

td, th
{
    padding-left:0.5em;
    padding-right:0.5em;
}

#footer
{
    z-index:99;
    background-color:white;
    width:60em;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:10px;
    margin-bottom:0px;
    border-top:5px solid #ccc;
    position:fixed;
    bottom:0px;
}

#main
{
    padding-top:30px;
}

#attributes form
{
    display:none;
    margin-bottom:5px;
    border-bottom:1px solid #ccc;
}

form#update-status
{
    margin:0;
    padding:0;
}

#attributes form select
{
    margin:0;
    margin-right:1em;
}

#attributes label:after
{
    content: ":";
}

#tag-checkboxes label:after
{
    content: "";
}
