<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <title>Cherry Flavored Bugs Everywhere!</title>
        
        <link rel="stylesheet" type="text/css" media="screen" 
              href="aal.css" />
        <link rel="stylesheet" type="text/css" media="screen"
              href="cfbe.css" />
        
        <script type="text/javascript" 
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>

        <script type="text/javascript" src="jquery.corners.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#content-pane').corners('bottom 8px');
                
                $('#external-pane').hide();
                $('#external-pane-content').corners('bottom 8px');
                
                $('#show-rhythm').click(function(e) {
                    $('body').addClass('rhythm');
                    $('#content-pane').addClass('rhythm');
                    $('#external-pane-content').addClass('rhythm');
                    e.preventDefault();
                });
                
                $('#filter-assignee').click(function(e) {
                    $('#external-pane-content').html($('#assignees').html());
                    $('#external-pane').fadeIn('fast');
                    e.preventDefault();
                });
                
                $('#filter-target').click(function(e) {
                    $('#external-pane-content').html($('#targets').html());
                    $('#external-pane').fadeIn('fast');
                    e.preventDefault();
                });
                
                $('#create-bug').click(function(e) {
                    $('#create-form').fadeIn('fast');
                    e.preventDefault();
                });
                
                $('table tr:odd').addClass('stripe');
            });
        </script>
        
        {% block script %}{% endblock %}
    </head>
    
    <body>
        <div id="header">
            <div class="center-column">
                <h1>{{ repository_name }}</h1>
            </div>
        </div>
        <div id="content-wrap">
            <div id="content-pane" class="center-column">
                <div id="nav">
                    <span id="filters">
                        <a href="/">Open</a>
                        <a href="/?status=closed">Closed</a>
                        <a href="" id="filter-assignee">Assigned to...</a>
                        <a href="" id="filter-target">Scheduled for...</a>
                    </span>
                    <span id="create">
                        <a href="" id="create-bug">&#43; Create a new bug</a>
                    </span>
                </div>
                <form id="create-form" action="/create" method="post">
                    <fieldset>
                        <div class="field">
                            <input type="text" class="text" id="create-summary" name="summary" />
                            <button id="create-button" type="submit">Create</button>
                        </div>
                    </fieldset>
                </form>
                <h2>{% block page_title %}&nbsp;{% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>
            <div id="footer" class="center-column">
                <p>
                    <a href="">Cherry Flavored Bugs Everywhere</a>
                    was created by <a href="http://stevelosh.com">Steve Losh</a>
                    using <a href="http://cherrypy.org">CherryPy</a>,
                    <a href="http://jinja.pocoo.org/2/">Jinja2</a>,
                    and <a href="http://jquery.com">jQuery</a>.
                    <br/>
                    He asked <a href="http://fecklessmind.com/2009/01/20/aardvark-css-framework/">aardvarks</a> for help
                    to make it all <a href="" id="show-rhythm">line up</a>.
                </p>
            </div>
        </div>
        <div id="external-pane">
            <div id="external-pane-content"></div>
        </div>
        <div id="assignees">
            <p>
                <a href="/?assignee=None">Unassigned</a><br /><br />
                {% for assignee in assignees %}
                    <a href="/?assignee={{ assignee|e }}">{{ assignee|e }}</a><br />
                {% endfor %}
            </p>
        </div>
        <div id="targets">
            <p>
                <a href="/?target=None">Unscheduled</a><br /><br />
                {% for target in targets %}
                    <a href="/?target={{ target }}">{{ target }}</a><br />
                {% endfor %}
            </p>
        </div>
    </body>
</html>
