{% extends "base.html" %}

{%block page_title %}
<title>{{ title }}</title>
{% endblock %}

{%block content %}

<h1>{{ title }}</h1>

{% if 'status' in entity or 'estimate' in entity or 'milestone'in entity %}
<dl id="interestingattributes">

{% for k in ('status', 'estimate', 'milestone', 'owner') %}
{% if k in entity %}
<dt>{{k.title()}}</dt>
<dd>{{project[entity[k]].html_summarized_view | safe}}</dd>
{% endif %}
{% endfor %}

{% if entity.get('components') %}
<dt>Components</dt>
<dd>
<ul>
{% for cmp in entity['components'] %}
<li>{{project[cmp].html_summarized_view | safe}}</li>
{% endfor %}
</ul>
</dd>
{% endif %}

</dl>
{% endif %}

{% if entity.description -%}
<div id="description">
<h2>Description</h2>
<div>
{{ description | safe}}
</div>
</div>
{%- endif %}

{% if entity.get('attached_files') %}
<div id="attachedfiles">
<h2>Attached Files</h2>

<ul>
{% for filepath in entity['attached_files'] %}
    <li>
        <a href="/attached_files{{ filepath }}">{{ os.path.basename(filepath) }}</a>
    </li>
{% endfor %}
</ul>

</div>
{% endif %}

<div id="attributes">
<h2>Attributes</h2>

<dl>
{% for attr, val in entity.items() %}
{% if attr not in ('uuid', 'description', 'attachedfiles', 'title', 
    'frag', 'status', 'estimate', 'milestone', 'components', 'owner',
    'type', 'comments') %}
    <dt>{{attr}}</dt>

    {% if isinstance(val, UUID) %}
        <dd>{{project[val].html_summarized_view | safe}}</dd>

    {% elif isinstance(val, datetime) %}
        <dd>{{ val.strftime("%A, %B %d, %Y") }}</dd>


    {% else %}
        <dd>{{val}}</dd>
    {% endif %}
{% endif %}
{% endfor %}
</dl>
</div>

<div style="clear:both;"></div>

{% endblock %}
