{% extends "base.html" %}

{%block page_title %}
<title>{{ title }}</title>
{% endblock %}

{%block content %}

<h1>{{ title }} ({{ entity.type }})</h1>


<div id="description">
<h2>Description</h2>
<div>
{% if entity.description -%}
{{ description | safe}}
{% else %}
<span style="font-style:italic;color:#555;">No description</span>
{%- endif %}
</div>
</div>


<div id="attributes">
<h2>Attributes</h2>

<dl>

{% for k in ('status', 'estimate', 'milestone', 'owner') %}
{% if k in entity %}
<dt>{{k.title()}}</dt>
<dd>{{project[entity[k]].html_summarized_view | safe}}</dd>
{% endif %}
{% endfor %}

{% if entity.get('components') %}
<dt>Components</dt>
<dd>
<ul>
{% for cmp in entity['components'] %}
<li>{{project[cmp].html_summarized_view | safe}}</li>
{% endfor %}
</ul>
</dd>
{% endif %}


{% for attr, val in entity.items() %}
{% if attr not in ('uuid', 'description', 'attached_files', 'title', 
    'frag', 'status', 'estimate', 'milestone', 'components', 'owner',
    'type', 'comments') %}
<dt>{{attr}}</dt>

{% if isinstance(val, UUID) %}
<dd>{{project[val].html_summarized_view | safe}}</dd>

{% elif isinstance(val, datetime) %}
    <dd>{{ val.strftime("%a, %b %d, %Y %I:%M %P") }}</dd>


{% else %}
    <dd>{{val}}</dd>
{% endif %}
{% endif %}
{% endfor %}
</dl>
</div>

{% if entity.get('attached_files') %}
<div id="attachedfiles">
<h2>Attached Files</h2>

<ul>
{% for filepath in entity['attached_files'] %}
    <li>
        <a href="/attached_files{{ filepath }}">{{ os.path.basename(filepath) }}</a>
    </li>
{% endfor %}
</ul>

</div>
{% endif %}


{% endblock %}
