{% extends "base.html" %}

{%block page_title %}
<title>{{ title }}</title>
{% endblock %}

{%block content %}

<h1>{{ title }}</h1>

{% if entity.description -%}
<div id="description">
<h2>Description</h2>
{{ description }}
</div>
{%- endif %}

{% if entity.get('attached_files') %}
<div id="attachedfiles">
<h2>Attached Files</h2>

<ul>
{% for filepath in entity['attached_files'] %}
    <li>
        <a href="{{ filepath }}">{{ os.path.basename(filepath) }}</a></li>
{% endfor %}
</ul>

</div>
{% endif %}

<div id="attributes">
<h2>Attributes</h2>

<dl>
{% for attr, val in entity.items() %}
{% if attr not in ('uuid', 'description', 'attachedfiles', 'title', 'frag') %}
    <dt>{{attr}}</dt>

    {% if isinstance(val, UUID) %}
        <dd><a href="{{val}}.html">{{project[val].summarized_view}}</a></dd>
    {% else %}
        <dd>{{val}}</dd>
    {% endif %}
{% endif %}
{% endfor %}
</dl>
</div>

{% endblock %}
