{% import 'macros.html' as m %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>

<title>{{ entity.title }}</title>

<link rel="stylesheet" type="text/css"
    href="/static/pitz.css" />

<script type="text/javascript"
    src="/static/jquery-latest.js"></script>

<script type="text/javascript"
    src="/static/jquery-ui-latest.js"></script>

</head>

<body>

<div id="header">
<h1>
<span>{{ entity.title }}</span>
<span class="viewtype">estimate</span>
</h1>
</div><!-- closes div id="header" -->

<div id="main">

{% if entity.description %}
<div id="description">
<h2>Description</h2>
{{ entity.description }}
</div><!-- closes div id="description" -->
{% endif %}<!-- closes if entity.description -->

{% if entity.tasks %}
<div id="tasks">
<h2>Tasks estimated as {{ entity.title }}</h2>

{{ m.draw_task_table(entity.tasks, show_estimate=False) }}

</div><!-- closes div id="tasks" -->
{% endif %}

</div><!-- closes div id="main" -->

{{ m.draw_footer(proj) }}

</body>

</html>
