{% import 'macros.html' as m %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>

<title>{{ person.title }}</title>

<link rel="stylesheet" type="text/css"
    href="/static/pitz.css" />

<script type="text/javascript"
    src="/static/jquery-latest.js"></script>

<script type="text/javascript"
    src="/static/jquery-ui-latest.js"></script>

</head>

<body>

<div id="header">
<h1>{{ person.title }}<span class="viewtype">person</span></h1>
</div><!-- closes div id="header" -->

<div id="main">

{% if person.first_four_tasks %}
<div id="todo">
<h2>{{ person.first_four_tasks.title }}</h2>

{{ m.draw_task_table(person.first_four_tasks, show_owner=False) }}

</div>
{% endif %}

<h2>Description</h2>

{{ person.description }}

{% if person.four_recent_activities %}
<div id="my_activities">
<h2>{{ person.four_recent_activities.title }}</h2>

<table>

<thead>
<tr>
<th>What</th>
<th>When</th>
</tr>
</thead>

<tbody>
{% for act in person.four_recent_activities %}
<tr>
<td><a href="/by_frag/{{ act['entity'].frag }}">{{ act.title }}</a></td>
<td>{{ act.time_ago }}</td>
</tr>
{% endfor %}
</tbody>

</table>

</div><!-- closes div id="my_activities" -->
{% endif %} <!-- closes if person.my_activities -->

</div><!-- closes div id="main" -->

{{ m.draw_footer(proj) }}

</body>

</html>
