{% import 'macros.html' as m %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>

<title>{{ proj.title }} project view</title>

<link rel="stylesheet" type="text/css"
    href="/static/pitz.css" />

<script type="text/javascript"
    src="/static/jquery-latest.js"></script>

<script type="text/javascript"
    src="/static/jquery-ui-latest.js"></script>

</head>

<body>

<div id="header">
<h1>{{ proj.title }}<span class="viewtype">project</span></h1>
</div><!-- closes div id="header" -->

<div id="main">
{% if proj.todo %}
<div id="todo">

<h2>{{ proj.first_ten_tasks.title }}</h2>

{{ m.draw_task_table(proj.first_ten_tasks) }}

</div><!-- closes div id="todo" -->
{% endif %} <!-- closes if proj.todo -->

{% if proj.recent_activity %}
<div id="recent-activity">

<h2>{{ proj.recent_activity.title }}</h2>

<table>

<thead>
<tr>
<th>What</th>
<th>When</th>
</tr>
</thead>

<tbody>
{% for act in proj.recent_activity %}
<tr>

<td>
<a href="/by_frag/{{ act['entity'].frag }}">{{ act.title }}</a>
</td>

<td>{{ act.time_ago }}</td>

</tr>
{% endfor %}
</tbody>

</table>

</div><!-- closes div id="recent-activity" -->

{% endif %} <!--  closes if proj.recent_activity -->
</div><!--closes div id="main" -->

{{ m.draw_footer(proj) }}

</body>

</html>
