<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>

<title>{{ entity.title }}</title>

<link rel="stylesheet" type="text/css"
    href="/static/pitz.css" />

<script type="text/javascript" src="/static/jquery-1.4.3.js"></script>

</head>

<body>

<h1>{{ entity.title }}</h1>

<div id="description">
<h2>Description</h2>

{{ entity.description }}
</div><!-- closes div id="description" -->

{% if entity.tasks %}
<div id="tasks">
<h2>Tasks with status {{ entity.title }}</h2>

<table>

<thead>

<tr>
<th class="tasktitle">Task</th>
<th class="taskowner">Owner</th>
<th class="taskestimate">Estimate</th>
<th class="taskmilestone">Milestone</th>
<th class="tasktags">Tags</th>
</tr>

</thead>

{% for i, task in enumerate(entity.tasks) %}
<tr>
<td class="tasktitle"><a href="/by_frag/{{ task.frag }}">{{ task.title }}</a></td>
<td class="taskowner"><a href="/by_frag/{{ task.owner.frag }}">{{ task.owner.title }}</a></td>

<td class="taskestimate">
<a href="/by_frag/{{ task.estimate.frag }}">{{ task.estimate.title }}</a>
</td>

<td class="taskmilestone">
    <a href="/by_frag/{{ task.milestone.frag }}">{{ task.milestone.title }}</a>
</td>

<td class="tasktags">
{% if task.tags %}
<ul>
{% for tag in task.tags %}
<li><a href="/by_frag/{{ tag.frag }}">{{ tag.title }}</a></li>
{% endfor %}
</ul>
{% endif %} <!-- closes if task.tags -->
</td><!-- closes td class="tasktags" -->

</tr>
{% endfor %}

</table>
</div><!-- closes div id="tasks" -->
{% endif %}
</body>

</html>
