{% import 'macros.html' as m %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>

<title>{{ task.title }} Task View</title>

<link rel="stylesheet" type="text/css"
    href="/static/pitz.css" />

{{ m.add_jquery_script_tags() }}

<script type="text/javascript">
$(document).ready(function () {

$("#attributes a").toggle(
    function () { $(this).siblings('form').css('display', 'inline'); },
    function () { $(this).siblings('form').css('display', 'none'); }
);

});

</script>

</head>

<body>

<div id="header">
<h1>
<span>{{ task.title }}</span>
<span class="viewtype">task view</span>
</h1>
</div><!-- closes div id="header" -->

<div id="main">
<div id="attributes">

<dl>

<dt>Owner</dt>
<dd>

<a href="/by_frag/{{ task.owner.frag }}">{{ task.owner.title }}</a>

<form id="update-owner"
    method="post"
    action="/update-owner/{{ task.frag }}">

<select name="owner">
{% for owner in task.owner.already_instantiated.values() %}
{% if owner == task.owner %}
<option selected>{{ owner.title }}</option>
{% else %}
<option>{{ owner.title }}</option>
{% endif %}
{% endfor %}
</select>

</form>

</dd>

<dt>Status</dt>
<dd>

<a class="update-status"
    href="/by_frag/{{ task.status.frag }}/update_status">{{ task.status.title }}</a>

<form id="update-status"
    method="post"
    action="/update-status/{{ task.frag }}">

<select name="status">
{% for status in task.status.already_instantiated.values() %}
{% if status == task.status %}
<option selected>{{ status.title }}</option>
{% else %}
<option>{{ status.title }}</option>
{% endif %}
{% endfor %}
</select>

</form>

</dd>

<dt>Estimate</dt>
<dd>

<a href="/by_frag/{{ task.estimate.frag }}">{{ task.estimate.title }}</a>

<form id="update-estimate"
    method="post"
    action="/update-estimate/{{ task.frag }}">

<select name="owner">
{% for estimate in task.estimate.already_instantiated.values() %}
{% if estimate == task.estimate %}
<option selected>{{ estimate.title }}</option>
{% else %}
<option>{{ estimate.title }}</option>
{% endif %}
{% endfor %}
</select>

</form>

</dd>

<dt>Milestone</dt>
<dd><a href="/by_frag/{{ task.milestone.frag }}">{{ task.milestone.title }}</a></dd>

{% if task.tags %}
<dt>Tags</dt>
<dd>
<ul>

{% for tag in task.tags %}
<li><a href="/by_frag/{{ tag.frag }}">{{ tag.title }}</a></li>
{% endfor %}

</ul>
</dd>
{% endif %}

</dl>

</div><!-- closes div id="attributes" -->

<div id="description">

<h2>Description</h2>

{{ task.description_as_html }}

</div><!-- closes div id="description" -->

{% if task.comments %}
<div id="comments">
<h2>Comments</h2>
</div><!-- closes div id="comments" -->
{% endif %}

{% if task.activities %}
<div id="activity">
<h2>Activity</h2>

<ol>

{% for activity in task.activities %}
<li>{{ activity.title }} at {{ clepy.time_ago(activity['created_time']) }}</li>
{% endfor %}

</ol>

</div><!-- closes div id="activity" -->
{% endif %} <!-- closes if task.activities -->


</div><!-- closes div="main" -->

{{ m.draw_footer(proj) }}

</body>

</html>
