{% extends "entity.html" %}

{%block page_title %}
<title>{{ title }}</title>
{% endblock %}

{% block localnav %}
<div id="localnav">
    <h1>{{ title }} ({{ entity.type }})</h1>

    <ul>
        <li><a href="#description">description</a></li>
        <li><a href="#attributes">attributes</a></li>
        <li><a href="#comments">comments</a></li>
    </ul>

</div>
{% endblock %}

{%block content %}

{{ super() }}

{% if entity.comments %}
<div id="comments">
    <h2>Comments</h2>
    <a class="toplink" href="#globalnav">top</a>

    <ol>
    {% for c in entity.comments %}
        <li>{{c.detailed_view | safe}}</li>
    {% endfor %}
    </ol>
</div>
{% endif %}

{% endblock %}
